version: "3.8"

services:

  backend:
    image: ${IMAGE_BACKEND}:${TAG}
    container_name: backend-app
    ports:
      - "4000:4000"
    networks:
      - appnet

  frontend:
    image: ${IMAGE_FRONTEND}:${TAG}
    container_name: frontend-app
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge